
<h3>User List</h3>

<form [formGroup]="signUpForm">
  <label for="id">Id</label>
  <input 
    type="text" 
    class="form-control" 
    id="id" 
    formControlName="input_id">
  <label for="name">Name</label>
  <input 
    type="text" 
    class="form-control" 
    id="name" 
    formControlName="input_name">
  <input type="button" class="btn btn-primary" (click)="onUpdate()" value="Update">
  <input type="button" class="btn btn-danger" value="Cancel">
  <button type="button" class="btn btn-primary" (click)="onAddItem()">Add</button>
</form>

<table class="table table-striped">
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Commands</td>
  </tr>

  <tr *ngFor="let item of items; let i = index">
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>
      <button class="btn btn-primary" (click)="onEdit(i, item.id, item.name)">Edit</button>
      <button class="btn btn-danger" (click)="onDelete(i)">Delete</button>
    </td>
  </tr>
</table>


<!-- <button type="button" (click)="onPost()">Send Servers</button>
<button (click)="onGet()">Get Servers</button> -->